@media  (max-width: 720px){
    .aside-nav .small-nav{
        width: 27%;
        min-height: 100dvh;

    }
    
    .aside-nav .side-content{
        min-height: 100dvh;
    width:0%;
    
    .links{
        padding-left: 10px;
    }
    .copyright{
        padding-left: 10px;
    }
}
.container .row .col-md-3{
    margin-top: 20px;
    margin-left: 70px;
    
    width: 80%;
}
.aside-nav{
    min-height: 100dvh;
    overflow: hidden;
}
.container .row .col-md-6{
    
    width: 90%;
   

    
   
   
   
   
}
.search-content .container .row .col-md-6{
    margin:20px 10px 0px 60px;
    width: 80%;
}
.container .row .button{
    width:fit-content;
    margin: 0px auto;

}

}