@media  (max-width: 720px){
    .aside-nav .small-nav{
        width: 25%;
    }
    
    .aside-nav .side-content{
    width:0%;
    .links{
        padding-left: 10px;
    }
    .copyright{
        padding-left: 10px;
    }
}
.container .row .col-md-3{
    margin-top: 20px;
    margin-left: 70px;
    
    width: 80%;
}
.container .row .col-md-6{
    
    width: 90%;
    

    
   
   
   
   
}
.container .row .button{
    width:fit-content;
    margin: 0px auto;

}

}